[Unit]
Description=Dockerized RemoteWeather
After=docker.service
BindsTo=docker.service
 
[Service]
TimeoutStartSec=0
TimeoutStopSec=30
Restart=always
RestartSec=10
 
ExecStartPre=-/usr/local/bin/docker-compose -f /etc/remoteweather/docker-compose.yml kill remoteweather 
ExecStartPre=-/usr/local/bin/docker-compose -f /etc/remoteweather/docker-compose.yml rm remoteweather 
ExecStartPre=-/usr/local/bin/docker-compose -f /etc/remoteweather/docker-compose.yml pull remoteweather
 
ExecStart=/usr/local/bin/docker-compose -f /etc/remoteweather/docker-compose.yml up --force-recreate
 
ExecStop=/usr/local/bin/docker-compose -f /etc/remoteweather/docker-compose.yml stop remoteweather
 
[Install]
WantedBy=multi-user.target

