config-secret.yaml
/remoteweather
binaries/
misc/

# Compiled binaries
config-convert
config-test

# Test and temporary configurations
test-config*.yaml
test-config*.db
*.db
config*backup*
config.yaml
config-conversion/
cmd/campbell-emulator/campbell-emulator
cmd/davis-emulator/davis-emulator
cmd/remoteweather/remoteweather
cmd/migrate/migrate
