:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #000;
  font-weight: 700;
  text-decoration: underline;
  transform: translate(0);
}

.container {
  max-width: 90%;
  margin-top: 0;
  display: block;
}

.tab-link {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #edf2f4;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  height: 45px;
  font-family: Inconsolata, monospace;
  display: inline-block;
}

.tab-link.w--current {
  box-shadow: none;
  color: #fff;
  background-color: #1a8ca7;
  border: 1px #000;
  height: 45px;
  font-weight: 700;
}

.tab-link.about-tab {
  color: #fff;
  background-color: #780000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tab-link.forecast-tab-link {
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  display: inline-block;
}

.body {
  background-image: linear-gradient(#0000, #0000);
  border: 1px #000;
  padding-top: 0;
  padding-left: 0;
  font-family: Inconsolata, monospace;
  font-style: normal;
  font-weight: 400;
  display: block;
}

.tabs-content {
  border: 1px dotted #000;
  padding-top: 20px;
}

.submit-button {
  background-color: #006729;
  margin-top: 20px;
  font-weight: 700;
}

.form {
  width: 70%;
}

.select-field-2 {
  background-image: linear-gradient(#0000, #0000);
}

.heading {
  font-family: Inconsolata, monospace;
  font-size: 1.25em;
  display: block;
}

.graphbox {
  border: 1px #000;
  height: 200px;
}

.measurements-container {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px dotted #000;
  border-top-style: none;
  grid-template: "Area Area-2 Area-3 Area-4 Area-5"
  / 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: stretch;
  justify-items: stretch;
  max-width: 90%;
  margin-top: 0;
  margin-bottom: 25px;
  padding-bottom: 0;
  display: grid;
  position: static;
  overflow: visible;
}

.header {
  color: #c1121f;
  text-transform: none;
  text-shadow: none;
  justify-content: center;
  align-items: center;
  width: 85%;
  min-width: auto;
  max-width: none;
  font-family: Cinzel Variablefont Wght, sans-serif;
  font-size: 54px;
  font-weight: 400;
  display: flex;
}

.div-block {
  float: none;
}

.measurement {
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-left: 0;
  margin-right: 0;
  font-family: Inconsolata, monospace;
  display: block;
}

.measurement.textwind {
  margin-top: 0;
  display: none;
}

.tabs-menu {
  background-color: #edf2f4;
  border: 1px #000;
  border-left-style: dotted;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: Lato, sans-serif;
}

.measurement-part {
  display: inline-block;
}

.measurement-part.measurement-icon {
  float: left;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  font-family: Gopherwx, sans-serif;
  font-size: 30px;
  display: flex;
}

.measurement-part.measurement-value {
  width: 68%;
  height: 100%;
}

.text-block {
  width: 0%;
  height: auto;
}

.text-block.measurement-part {
  float: right;
  clear: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 0%;
  height: 0;
  font-family: Inconsolata, monospace;
  font-size: 30px;
  font-weight: 400;
  display: block;
  position: static;
}

.text-block.measurement-part.metric-label {
  display: none;
}

.windrose-box {
  width: 68%;
  height: 100%;
}

.windrose-box.measurement-part {
  flex-direction: row;
  width: auto;
  height: auto;
}

.windrose-circle {
  border: 4px solid #898989;
  border-radius: 50%;
  flex-direction: row;
  flex: 0 auto;
  width: 80px;
  height: 80px;
  display: block;
  position: relative;
  top: -16px;
  transform: rotate(340deg);
}

.windrose-box-container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  display: flex;
  position: relative;
  top: -4px;
}

.windrose-arrow {
  opacity: 1;
  border-top: 18px solid #669bbc;
  border-left: 6px solid #0000;
  border-right: 6px solid #0000;
  width: 0;
  height: 0;
  font-style: normal;
  position: relative;
  top: -9px;
  left: 30px;
  right: 0;
}

.title-box {
  justify-content: center;
  align-items: center;
  max-width: 910px;
  margin-top: 41px;
  padding-bottom: 25px;
  font-family: Changa One, Impact, sans-serif;
  display: flex;
}

.north {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 6px;
  font-family: Inconsolata, monospace;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.wind-speed {
  text-align: center;
  flex-direction: column;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  font-family: Inconsolata, monospace;
  font-size: 29px;
  font-weight: 700;
  display: flex;
  position: relative;
  top: 18px;
}

.wind-cardinal-dir {
  float: none;
  clear: none;
  text-align: center;
  flex-direction: column;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-bottom: 0;
  padding-top: 0;
  font-family: Inconsolata, monospace;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  position: relative;
  top: 62px;
  left: 0;
}

.about-this-station {
  font-family: Inconsolata, monospace;
}

.div-block-2 {
  justify-content: center;
  display: flex;
}

.div-block-3 {
  flex-flow: column;
  flex: 0 auto;
  justify-content: center;
  align-self: auto;
  align-items: center;
  width: auto;
  height: auto;
  display: flex;
}

.chart_container {
  flex-direction: row;
  display: flex;
  position: relative;
}

.y_axis {
  width: 30px;
  font-family: Inconsolata, monospace;
  font-size: 13px;
  display: flex;
}

.chart {
  flex: 1;
  font-family: Inconsolata, monospace;
  font-size: 13px;
}

.legend {
  float: left;
  clear: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Inconsolata, monospace;
  font-size: 13px;
  display: flex;
  position: relative;
  left: 0;
}

.x_axis {
  clear: left;
  font-family: Inconsolata, monospace;
  font-size: 13px;
  display: flex;
}

.text-block-2 {
  justify-content: center;
  padding-top: 2px;
  display: block;
}

.temperaturechart, .humiditychart, .barometerchart, .windspeedchart {
  border: 1px #000;
  height: 400px;
  padding-top: 10px;
}

.winddirectionchart {
  border: 1px #000;
  height: 150px;
  padding-top: 10px;
  padding-left: 30px;
}

.rainfallchart {
  border: 1px #000;
  height: 400px;
  padding-top: 10px;
}

.text-block-3 {
  aspect-ratio: auto;
  text-align: left;
}

.text-block-4 {
  text-align: center;
}

.text-block-5 {
  font-size: 48px;
}

.text-block-5.readingvalue, .text-block-6 {
  text-align: center;
  padding-top: 13px;
  font-size: 32px;
}

.text-block-7, .text-block-8 {
  padding-top: 13px;
  font-size: 32px;
}

.text-block-9 {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
}

.text-block-9.labeltextwind {
  display: none;
}

.text-block-10, .text-block-11 {
  text-align: center;
}

.windrosecontainer {
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  font-family: Inconsolata, monospace;
  display: block;
}

.readingval {
  text-align: center;
  padding-top: 11px;
  font-size: 32px;
}

.readingval.valtextwind, .readingval.cardinalval {
  display: none;
}

.solarwattschart, .voltagechart {
  border: 1px #000;
  height: 400px;
  padding-top: 10px;
}

.readingdescsubtitle {
  text-align: center;
  padding-top: 8px;
}

.readingdescsubtitle.labeltextwind {
  display: none;
}

.readingdescsubtitle-copy {
  text-align: center;
}

.readingdescsubtitle-copy.labeltextwind {
  display: none;
}

.text-block-9-copy {
  text-align: center;
}

.text-block-9-copy.labeltextwind {
  display: none;
}

.html-embed {
  min-height: 1200px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Inconsolata, monospace;
}

.grid {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.flex-block {
  flex-direction: row;
  justify-content: center;
  display: flex;
}

.flex-block.forecasttimeunit, .flex-block.day-forecast-time-block {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px #000;
  flex: 1 0 14.2857%;
  align-items: center;
  display: flex;
}

.flex-block.day-forecast-period-block {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px #000;
  border-right: .5px dotted #000;
  flex: 1 0 14.2857%;
  align-items: center;
  display: flex;
}

.flex-block-2, .flex-block-3 {
  display: block;
}

.container-2 {
  border: 1px solid #000;
  padding-bottom: 0;
  display: flex;
}

.div-block-4 {
  flex-direction: row;
  flex: 1;
  height: 25px;
  line-height: 25px;
  display: block;
}

.div-block-5 {
  border-bottom: 1px dotted #000;
  flex: 1;
  height: 25px;
  display: flex;
}

.current-conditions-title {
  min-width: 940px;
  max-width: 90%;
  height: 25px;
  margin-top: 25px;
  padding-bottom: 0;
  line-height: 25px;
  display: flex;
}

.div-block-6 {
  background-color: #c1121f;
  border: 1px #000;
  border-radius: 4px 4px 0 0;
  height: 25px;
  margin-left: 0;
  padding-left: 0;
}

.text-block-12 {
  color: #fff;
  text-align: left;
  margin-left: 8px;
  font-size: 17px;
  font-weight: 700;
}

.day-forecast-unit {
  background-color: #fa0;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  display: flex;
}

.day-forecast-unit.forecastspace {
  border: 1px #000;
  border-bottom-style: solid;
  flex-direction: row;
  flex: 0 4%;
  justify-content: center;
  min-height: 100px;
}

.day-forecast-unit.forecastspace.leftendcap {
  background-color: #0000;
  border: 1px #000;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  min-height: 236px;
  max-height: 236px;
  padding-top: 0;
  display: flex;
}

.day-forecast-unit.forecastspace.rightendcap {
  border-right-style: solid;
  border-right-width: .5px;
}

.day-forecast-unit.forecastspace.day-forecast-period-block-sub {
  background-color: #0000;
  border: 1px #000;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  min-height: 190px;
  max-height: 190px;
  padding-top: 0;
  display: flex;
}

.day-forecast-unit.day-forecast-sub-block {
  border: 1px #000;
  border-bottom-style: solid;
  flex-direction: row;
  flex: 0 4%;
  justify-content: center;
  min-height: 100px;
}

.day-forecast-unit.day-forecast-sub-block.leftendcap {
  background-color: #0000;
  border: 1px #000;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  min-height: 190px;
  max-height: 190px;
  padding-top: 0;
  display: flex;
}

.day-forecast-unit.day-forecast-sub-block.rightendcap {
  border-right-style: solid;
  border-right-width: .5px;
}

.day-forecast-unit.day-forecast-space {
  border: 1px #000;
  border-bottom-style: solid;
  flex-direction: row;
  flex: 0 4%;
  justify-content: center;
  min-height: 100px;
}

.day-forecast-unit.day-forecast-space.leftendcap {
  background-color: #0000;
  border: 1px #000;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  min-height: 190px;
  max-height: 190px;
  padding-top: 0;
  display: flex;
}

.day-forecast-unit.day-forecast-space.rightendcap {
  border-right-style: solid;
  border-right-width: .5px;
}

.day-forecast-unit.day-forecast-space.day-forecast-period-block-sub {
  background-color: #0000;
  border: 1px #000;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  min-height: 238px;
  max-height: 238px;
  padding-top: 0;
  display: flex;
}

.div-block-8 {
  flex-direction: row;
  flex: 0 auto;
  align-self: auto;
  height: 29px;
  display: block;
}

.div-block-9 {
  flex-direction: row;
  flex: 0 auto;
  justify-content: center;
  align-self: auto;
  align-items: center;
  width: 112px;
  height: 43px;
  display: flex;
}

.forecasttempquadrant {
  text-align: center;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 28px;
  height: 30px;
  font-size: 25px;
  font-weight: 700;
  display: flex;
}

.forecasttempquadrant.uparrow {
  color: #c1121f;
  width: 31px;
}

.forecasttempquadrant.downarrow {
  color: #1d78a7;
  width: 31px;
}

.forecasttempquadrant.lowtemp {
  margin-top: 3px;
  padding-bottom: 0;
  font-size: 19px;
}

.text-block-13 {
  text-align: center;
  flex: 0 33%;
  order: 0;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  min-height: 30px;
  display: flex;
}

.text-block-13.forecasttext {
  text-align: center;
  flex: 0 100%;
  justify-content: center;
  min-height: 28px;
  padding-top: 10px;
  font-size: 19px;
  font-weight: 700;
}

.text-block-13.forecastprecipicon, .text-block-13.day-period-precip-icon {
  text-align: center;
  flex: 0 20%;
  justify-content: center;
  min-height: 30px;
  font-family: Inconsolata, monospace;
  font-size: 18px;
  font-weight: 700;
}

.text-block-14 {
  clear: none;
  text-align: center;
  font-family: Weathericons Webfont, sans-serif;
  font-size: 42px;
  font-weight: 400;
}

.grid-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: row;
  flex: 0 auto;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, 4.1%) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto) minmax(4.1%, auto);
  grid-auto-columns: 4%;
  grid-auto-flow: row;
  justify-content: stretch;
  justify-items: stretch;
  margin-bottom: 0;
  padding-top: 7px;
  padding-bottom: 0;
  display: grid;
}

.forecast-grid-container {
  border: 1px dotted #000;
  border-top-style: none;
  flex-direction: column;
  justify-content: center;
  min-width: 940px;
  max-width: 90%;
  height: 316px;
  margin-bottom: 25px;
  padding-bottom: 0;
  line-height: 25px;
  display: block;
}

.forecast-title {
  min-width: 940px;
  max-width: 90%;
  height: 25px;
  padding-bottom: 0;
  line-height: 25px;
  display: flex;
}

.about-contents {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 1px dotted #000;
  grid-template: "Area"
  / 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  max-width: 90%;
  margin-top: 0;
  margin-bottom: 25px;
  display: grid;
  position: static;
  overflow: visible;
}

.about-this-station-title {
  min-width: 940px;
  max-width: 90%;
  height: 25px;
  margin-top: 25px;
  padding-bottom: 0;
  line-height: 25px;
  display: flex;
}

.charts-title {
  min-width: 940px;
  max-width: 90%;
  height: 25px;
  padding-bottom: 0;
  line-height: 25px;
  display: flex;
}

.text-block-15 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  padding-left: 15px;
  font-size: 11px;
  display: flex;
}

.tabs-2 {
  border-bottom: 1px #000;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  padding-top: 0;
  display: block;
}

.tabs-menu-2 {
  background-color: #edf2f4;
  border-bottom: 1px dotted #000;
  height: auto;
}

.text-block-17, .text-block-18, .text-block-19, .text-block-20 {
  padding-top: 2px;
}

.text-block-15-copy {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  padding-left: 15px;
  font-size: 11px;
  display: flex;
}

.last-updated {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  padding-left: 10px;
  font-size: 11px;
  display: flex;
}

.day-period-title {
  text-align: center;
  line-height: 15px;
}

.day-period-icon {
  clear: none;
  text-align: center;
  font-family: Weathericons Webfont, sans-serif;
  font-size: 39px;
  font-weight: 400;
}

.week-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(14.2857%, auto));
  align-items: start;
  margin-bottom: 0;
  padding-top: 7px;
  padding-bottom: 0;
}

.day-avg-temp-container {
  flex-direction: row;
  flex: 0 auto;
  justify-content: center;
  align-self: auto;
  align-items: center;
  height: 31px;
  display: flex;
}

.div-block-8-copy, .day-period-title-container, .day-forecast-title-container, .day-period-temp-container {
  flex-direction: row;
  flex: 0 auto;
  align-self: auto;
  height: 44px;
  display: block;
}

.day-period-temp {
  clear: none;
  text-align: center;
  font-family: Weathericons Webfont, sans-serif;
  font-size: 39px;
  font-weight: 400;
}

.day-period-icon-container {
  flex-direction: row;
  flex: 0 auto;
  justify-content: center;
  align-self: auto;
  align-items: center;
  height: 49px;
  display: flex;
}

.day-period-icon-text {
  clear: none;
  text-align: center;
  font-family: Weathericons Webfont, sans-serif;
  font-size: 34px;
  font-weight: 400;
}

.day-period-forecast-temp {
  text-align: center;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 28px;
  height: 30px;
  font-size: 25px;
  font-weight: 700;
  display: flex;
}

.day-period-forecast-temp.uparrow {
  color: #c1121f;
  width: 31px;
}

.day-period-forecast-temp.downarrow {
  color: #1d78a7;
  width: 31px;
}

.day-period-forecast-temp.lowtemp {
  margin-top: 3px;
  padding-bottom: 0;
  font-size: 19px;
}

.day-period-forecast-temp.day-period-avg-temp {
  width: auto;
}

.day-period-precip-container {
  flex-flow: column;
  flex: 0 auto;
  justify-content: center;
  align-self: auto;
  align-items: center;
  width: auto;
  height: 39px;
  display: flex;
}

.text-block-13-copy.forecastprecipicon, .text-block-13-copy.day-period-precip-icon {
  text-align: center;
  flex: 0 20%;
  justify-content: center;
  min-height: 30px;
  font-family: Inconsolata, monospace;
  font-size: 18px;
  font-weight: 700;
}

.day-period-precip-icon-2 {
  text-align: center;
  flex: 0 33%;
  order: 0;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  min-height: 30px;
  display: flex;
}

.day-period-precip-icon-2.forecasttext {
  text-align: center;
  flex: 0 100%;
  justify-content: center;
  min-height: 30px;
  font-size: 13px;
  font-weight: 700;
}

.day-period-precip-icon-2.forecastprecipicon, .day-period-precip-icon-2.day-period-precip-icon {
  text-align: center;
  flex: 0 20%;
  justify-content: center;
  min-height: 30px;
  font-family: Inconsolata, monospace;
  font-size: 18px;
  font-weight: 700;
}

.day-period-precip-icon-2.day-period-precip-icon {
  text-align: center;
  flex: 0 20%;
  justify-content: center;
  align-self: center;
  min-height: 20px;
  font-family: Weathericons Webfont, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.text-block-13-copy {
  text-align: center;
  flex: 0 33%;
  order: 0;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  min-height: 30px;
  display: flex;
}

.text-block-13-copy.forecasttext {
  text-align: center;
  flex: 0 100%;
  justify-content: center;
  min-height: 30px;
  font-size: 13px;
  font-weight: 700;
}

.text-block-13-copy.forecastprecipicon, .text-block-13-copy.day-period-precip-icon {
  text-align: center;
  flex: 0 20%;
  justify-content: center;
  min-height: 30px;
  font-family: Inconsolata, monospace;
  font-size: 18px;
  font-weight: 700;
}

.day-period-precip-measurement-2 {
  text-align: center;
  flex: 0 33%;
  order: 0;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  min-height: 30px;
  display: flex;
}

.day-period-precip-measurement-2.forecasttext {
  text-align: center;
  flex: 0 100%;
  justify-content: center;
  min-height: 30px;
  font-size: 13px;
  font-weight: 700;
}

.day-period-precip-measurement-2.forecastprecipicon, .day-period-precip-measurement-2.day-period-precip-icon {
  text-align: center;
  flex: 0 20%;
  justify-content: center;
  min-height: 30px;
  font-family: Inconsolata, monospace;
  font-size: 18px;
  font-weight: 700;
}

.day-period-precip-measurement-2.day-period-precip-measurement {
  justify-content: center;
  align-self: center;
  min-height: 16px;
  line-height: 16px;
}

.about-contents-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 1px dotted #000;
  grid-template: "Area"
  / 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  max-width: 90%;
  margin-top: 0;
  margin-bottom: 25px;
  display: grid;
  position: static;
  overflow: visible;
}

.div-block-10 {
  width: auto;
  height: 155px;
  padding-top: 0;
}

.week-forecast-icon {
  clear: none;
  text-align: center;
  font-family: Weathericons Webfont, sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 42px;
}

.week-forecast-description {
  flex-direction: row;
  flex: 0 auto;
  justify-content: center;
  align-self: auto;
  align-items: center;
  width: 90%;
  height: 30px;
  margin-bottom: auto;
  display: flex;
}

.week-forecast-icon-div {
  flex-direction: row;
  flex: 0 auto;
  align-self: auto;
  height: auto;
  padding-top: 13px;
  padding-bottom: 5px;
  display: block;
}

.text-block-21 {
  font-size: 21px;
  font-weight: 400;
}

.week-day-title {
  direction: ltr;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
}

.div-block-11 {
  background-color: #1a8ca7;
  border: 1px solid #328d32;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  display: flex;
  transform: scale(1);
}

.div-block-12 {
  filter: blur();
  justify-content: flex-start;
  align-items: center;
  margin-left: 8px;
  padding-right: 0;
  display: flex;
}

.live-indicator {
  background-color: #c1121f;
  border: 1px #328d32;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 14px;
  margin-left: 10px;
  display: flex;
  transform: scale(1);
}

.text-block-23 {
  color: #fff;
  font-size: 9px;
  font-weight: 700;
}

.snow-gauge-title {
  min-width: 940px;
  max-width: 90%;
  height: 25px;
  margin-top: 25px;
  padding-bottom: 0;
  line-height: 25px;
  display: flex;
}

.snow-gauge-measurements-container {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px dotted #000;
  border-top-style: none;
  grid-template: "Area Area-2 Area-3 Area-4 Area-5"
  / 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: stretch;
  justify-items: stretch;
  max-width: 90%;
  margin-top: 0;
  margin-bottom: 25px;
  padding-bottom: 0;
  display: grid;
  position: static;
  overflow: visible;
}

.snow-last-24h-measurement {
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-left: 0;
  margin-right: 0;
  font-family: Inconsolata, monospace;
  display: block;
}

.snow-last-24h-measurement.textwind {
  margin-top: 0;
  display: none;
}

@media screen and (max-width: 991px) {
  .header {
    justify-content: center;
    align-items: center;
    width: 75%;
    min-width: auto;
    max-width: none;
    font-size: 54px;
    font-weight: 400;
    display: flex;
  }

  .measurement {
    margin-left: 15px;
    margin-right: 15px;
    display: block;
  }

  .measurement.textwind {
    display: none;
  }

  .title-box {
    margin-top: 20px;
    padding-bottom: 10px;
  }

  .text-block-9 {
    font-size: 14px;
    font-weight: 700;
  }

  .windrosecontainer {
    margin-left: 15px;
    margin-right: 15px;
  }

  .readingval {
    text-align: center;
    padding-top: 21px;
    font-size: 32px;
  }

  .current-conditions-title {
    min-width: 690px;
    max-width: 90%;
  }

  .div-block-9 {
    width: 104px;
  }

  .forecasttempquadrant {
    font-size: 16px;
  }

  .forecasttempquadrant.uparrow, .forecasttempquadrant.downarrow {
    width: 20px;
    height: 20px;
    font-size: 16px;
  }

  .forecasttempquadrant.lowtemp {
    font-size: 16px;
  }

  .forecasttempquadrant.hightemp, .forecasttempquadrant.day-period-avg-temp, .forecasttempquadrant.avg-temp {
    font-size: 19px;
  }

  .text-block-13.forecasttext {
    font-size: 16px;
  }

  .grid-2 {
    flex: 1;
  }

  .forecast-grid-container {
    justify-content: center;
    min-width: 690px;
    max-width: 90%;
  }

  .forecast-title, .about-this-station-title, .charts-title {
    min-width: 690px;
    max-width: 90%;
  }

  .week-grid {
    flex: 1;
  }

  .day-avg-temp-container {
    width: auto;
  }

  .day-period-forecast-temp {
    font-size: 16px;
  }

  .day-period-forecast-temp.uparrow, .day-period-forecast-temp.downarrow {
    width: 20px;
    height: 20px;
    font-size: 16px;
  }

  .day-period-forecast-temp.lowtemp {
    font-size: 16px;
  }

  .day-period-forecast-temp.hightemp, .day-period-forecast-temp.day-period-avg-temp, .day-period-forecast-temp.avg-temp {
    font-size: 19px;
  }

  .day-period-precip-container {
    width: auto;
  }

  .text-block-13-copy.forecasttext, .day-period-precip-icon-2.forecasttext, .text-block-13-copy.forecasttext, .day-period-precip-measurement-2.forecasttext {
    font-size: 12px;
  }

  .week-forecast-description {
    width: 104px;
  }

  .week-day-title {
    font-size: 15px;
  }

  .snow-gauge-title {
    min-width: 690px;
    max-width: 90%;
  }

  .snow-last-24h-measurement {
    margin-left: 15px;
    margin-right: 15px;
    display: block;
  }

  .snow-last-24h-measurement.textwind {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .container {
    border: 1px dotted #000;
  }

  .tab-link, .tab-link.w--current {
    padding-left: 20px;
    padding-right: 20px;
  }

  .tab-link.forecast-tab-link {
    width: 150px;
  }

  .tab-link.forecast-tab-link.w--current {
    width: 150px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .tabs-content {
    border-style: none;
  }

  .heading {
    margin-top: -57px;
    margin-bottom: -1px;
  }

  .heading.first-graph {
    margin-top: 14px;
  }

  .measurements-container {
    border-top-style: dotted;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "Area Area-2 Area-3 Area-4";
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 7px;
  }

  .header {
    text-align: center;
    justify-content: center;
    align-self: auto;
    align-items: center;
    width: 75%;
    min-width: auto;
    max-width: none;
    min-height: 65px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 38px;
    font-weight: 400;
    display: flex;
  }

  .measurement {
    height: 80px;
    margin-left: 10px;
    display: block;
  }

  .tabs-menu {
    border-style: none none dotted;
  }

  .tabs-menu.charts-tabs {
    border-bottom-style: dotted;
  }

  .measurement-part.measurement-icon {
    width: 25px;
    margin-right: 8px;
  }

  .text-block.measurement-part {
    flex: 1;
    height: 40px;
    padding-left: 7px;
  }

  .text-block.measurement-part.metric-label {
    flex: 0 auto;
    justify-content: flex-end;
    width: 30%;
    padding-right: 15px;
    font-size: 15px;
    display: flex;
    position: static;
  }

  .windrose-box.measurement-part {
    flex: 1;
    width: 75%;
    height: 40px;
    padding-left: 7px;
  }

  .windrose-box-container {
    height: 50px;
    display: flex;
  }

  .title-box {
    max-width: 90%;
    margin-top: 15px;
    padding-bottom: 0;
  }

  .wind-speed {
    flex-direction: row;
    flex: 0 auto;
    font-weight: 400;
    position: static;
    top: 0;
  }

  .wind-cardinal-dir {
    flex: 1;
    order: 1;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    display: flex;
    top: 0;
  }

  .about-this-station {
    margin-left: 20px;
    margin-right: 20px;
  }

  .div-block-2 {
    flex-direction: column;
  }

  .div-block-3 {
    flex-direction: row;
    height: 40px;
    display: none;
  }

  .tab-pane {
    margin-left: 5px;
    margin-right: 5px;
  }

  .temperaturechart, .humiditychart {
    border-style: none none dotted;
    height: 225px;
  }

  .barometerchart, .windspeedchart, .rainfallchart {
    border-bottom-style: dotted;
    height: 225px;
  }

  .text-block-4 {
    font-weight: 700;
  }

  .text-block-5.readingvalue {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }

  .text-block-6 {
    font-size: 30px;
    font-weight: 700;
  }

  .text-block-7, .text-block-8 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }

  .text-block-9 {
    font-size: 13px;
    font-weight: 700;
  }

  .text-block-10, .text-block-11 {
    font-weight: 700;
  }

  .windrosecontainer {
    height: 40px;
    margin-left: 25px;
    display: none;
  }

  .readingval {
    padding-top: 16px;
    font-size: 26px;
  }

  .solarwattschart {
    border-bottom-style: dotted;
    height: 225px;
  }

  .voltagechart {
    height: 225px;
  }

  .readingdescsubtitle, .readingdescsubtitle-copy, .text-block-9-copy {
    font-weight: 700;
  }

  .flex-block.forecasttimeunit {
    border-style: none dotted none none;
    border-width: .5px;
  }

  .flex-block.forecasttimeunit.rightendcap {
    border-right-style: none;
  }

  .flex-block.day-forecast-period-block {
    border-style: none none dotted;
    border-bottom-color: #ccc;
    padding-bottom: 10px;
  }

  .div-block-5 {
    border-bottom-style: none;
  }

  .current-conditions-title {
    min-width: 511px;
    max-width: 90%;
  }

  .div-block-6 {
    border-radius: 0 5px 0 0;
  }

  .day-forecast-unit.forecastspace.leftendcap.rightcap {
    border-right-style: none;
  }

  .div-block-9 {
    text-align: center;
    flex-direction: row;
    align-self: auto;
    width: 75px;
    height: 40px;
    display: flex;
  }

  .forecasttempquadrant {
    flex-direction: row;
  }

  .forecasttempquadrant.uparrow {
    flex-direction: row;
    align-items: center;
    display: flex;
  }

  .forecasttempquadrant.downarrow {
    width: 16px;
    font-size: 14px;
  }

  .forecasttempquadrant.lowtemp {
    width: 30px;
  }

  .text-block-13.forecasttext {
    font-size: 16px;
    line-height: 12px;
  }

  .text-block-13.forecastprecipicon {
    min-width: 35px;
  }

  .grid-2 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px #000;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(auto-fit, minmax(8.33333%, auto)) minmax(8.33333%, auto) minmax(8.33333%, auto) minmax(8.33333%, auto) minmax(8.33333%, auto) minmax(8.33333%, auto) minmax(8.33333%, auto) minmax(8.33333%, auto) minmax(8.33333%, auto) minmax(8.33333%, auto) minmax(8.33333%, auto);
    grid-auto-flow: row;
  }

  .forecast-grid-container {
    border-style: dotted;
    justify-content: center;
    min-width: 511px;
    max-width: 90%;
    height: auto;
  }

  .forecast-title {
    min-width: 511px;
    max-width: 90%;
  }

  .about-contents {
    grid-template-columns: 1fr;
    grid-template-areas: "Area Area-2 Area-3 Area-4";
    margin-top: 0;
    padding-top: 0;
  }

  .about-this-station-title, .charts-title {
    min-width: 511px;
    max-width: 90%;
  }

  .text-block-16 {
    text-align: center;
  }

  .last-updated {
    border: 1px #000;
  }

  .week-grid {
    border: .5px #000;
    padding-top: 2px;
  }

  .day-avg-temp-container {
    text-align: center;
    flex-direction: row;
    align-self: auto;
    width: 75px;
    display: flex;
  }

  .day-period-forecast-temp {
    flex-direction: row;
  }

  .day-period-forecast-temp.uparrow {
    flex-direction: row;
    align-items: center;
    display: flex;
  }

  .day-period-precip-container {
    text-align: center;
    flex-direction: row;
    align-self: auto;
    width: auto;
    display: flex;
  }

  .text-block-13-copy.forecasttext, .day-period-precip-icon-2.forecasttext, .text-block-13-copy.forecasttext, .day-period-precip-measurement-2.forecasttext {
    line-height: 12px;
  }

  .about-contents-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "Area";
    margin-top: 0;
    padding-top: 0;
  }

  .week-forecast-description {
    text-align: center;
    flex-direction: row;
    align-self: auto;
    width: 75px;
    display: flex;
  }

  .tab-pane-tab-2 {
    height: 100%;
  }

  .text-block-22 {
    text-align: center;
  }

  .snow-gauge-title {
    min-width: 511px;
    max-width: 90%;
  }

  .snow-gauge-measurements-container {
    border-top-style: dotted;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "Area Area-2 Area-3 Area-4";
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 7px;
  }

  .snow-last-24h-measurement {
    height: 80px;
    margin-left: 10px;
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: 100%;
    margin-top: 0;
    display: block;
  }

  .tab-link {
    text-align: left;
    border-top: 1px solid #0000;
    border-bottom: 1px solid #0000;
    padding: 10px 0 0 20px;
    display: block;
  }

  .tab-link.w--current {
    border: 1px dotted #000;
    border-style: dotted none;
    padding: 10px 0 0 20px;
    display: block;
  }

  .tab-link.about-tab {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
  }

  .tab-link.graph-timespan-tab {
    color: #fff;
    background-image: linear-gradient(#636363, #636363);
    border: 1px #000;
    border-top: 2px solid #000;
    padding-left: 15px;
  }

  .tab-link.forecast-tab-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
  }

  .tab-link.forecast-tab-link.w--current {
    text-align: left;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-top: 7px;
  }

  .body {
    clear: none;
    border-style: none;
    border-width: 1px;
    flex-direction: column;
    display: block;
  }

  .heading, .heading.first-graph {
    margin-top: 5px;
  }

  .measurements-container {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px dotted #000;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    align-items: stretch;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 25px;
    padding-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
  }

  .header {
    text-align: center;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-width: auto;
    max-width: none;
    min-height: 76px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
  }

  .measurement {
    border: 1px #000;
    border-right-width: .5px;
    height: 80px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
  }

  .measurement.textwind {
    margin-top: 3px;
    display: block;
  }

  .tabs-menu {
    flex-direction: column;
    justify-content: center;
    display: flex;
  }

  .measurement-part.measurement-icon {
    flex: 0 auto;
    justify-content: center;
    width: 25px;
    margin-right: 8px;
    font-size: 22px;
  }

  .text-block.measurement-part {
    text-align: left;
    flex: 1;
    justify-content: flex-start;
    height: 40px;
    padding-left: 7px;
    padding-right: 0;
    position: static;
    overflow: visible;
  }

  .text-block.measurement-part.metric-label {
    justify-content: flex-end;
    width: 50%;
    margin-right: 16px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .windrose-box.measurement-part {
    flex: 1;
    justify-content: flex-start;
    width: 75%;
    height: 40px;
    padding-left: 7px;
  }

  .windrose-circle {
    display: none;
  }

  .title-box {
    border: 1px #000;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding-bottom: 0;
    position: static;
  }

  .north {
    display: none;
  }

  .wind-speed {
    flex: 0 auto;
    justify-content: center;
    font-weight: 400;
    position: static;
    top: 0;
  }

  .wind-cardinal-dir {
    flex-direction: column;
    flex: 0 auto;
    order: 1;
    justify-content: center;
    align-items: flex-end;
    padding-top: 0;
    padding-left: 8px;
    display: flex;
    position: static;
    top: 0;
  }

  .div-block-2 {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .div-block-3 {
    flex-direction: row;
    height: 40px;
  }

  .tab-pane-2, .tab-pane-3, .tab-pane-4, .tab-pane-5 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .temperaturechart {
    border-bottom-style: solid;
    border-right-style: none;
    height: 225px;
  }

  .humiditychart, .barometerchart, .windspeedchart {
    border-bottom-style: solid;
    height: 225px;
  }

  .winddirectionchart {
    border-bottom-style: solid;
  }

  .rainfallchart {
    border-bottom-style: solid;
    height: 225px;
  }

  .text-block-4 {
    font-size: 14px;
    font-weight: 700;
  }

  .text-block-5.readingvalue {
    float: none;
    clear: none;
    text-align: center;
    height: auto;
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
  }

  .text-block-6, .text-block-7, .text-block-8 {
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700;
  }

  .text-block-9 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    font-weight: 700;
  }

  .text-block-9.labeltextwind {
    display: block;
  }

  .text-block-10, .text-block-11 {
    font-size: 14px;
    font-weight: 700;
  }

  .windrosecontainer {
    height: 40px;
    margin-left: 0;
    padding-bottom: 0;
  }

  .readingval {
    text-align: center;
    padding-top: 9px;
    font-size: 23px;
    font-weight: 700;
  }

  .readingval.valtextwind {
    padding-top: 0;
    font-size: 20px;
    line-height: 18px;
    display: block;
  }

  .readingval.cardinalval {
    color: #969696;
    padding-top: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: block;
  }

  .solarwattschart {
    border-bottom-style: solid;
    height: 225px;
  }

  .voltagechart {
    border-bottom-style: none;
    height: 225px;
  }

  .readingdescsubtitle {
    padding-left: 0;
    font-size: 11px;
    font-weight: 700;
  }

  .readingdescsubtitle.labeltextwind {
    display: block;
  }

  .readingdescsubtitle.windcombinedsubtitle {
    padding-top: 1px;
  }

  .readingdescsubtitle-copy {
    padding-left: 0;
    font-size: 11px;
    font-weight: 700;
  }

  .readingdescsubtitle-copy.labeltextwind {
    display: block;
  }

  .text-block-9-copy {
    padding-left: 0;
    font-size: 13px;
    font-weight: 700;
  }

  .text-block-9-copy.labeltextwind, .tabs {
    display: block;
  }

  .flex-block.forecasttimeunit {
    border-style: none dotted dotted none;
    border-width: .5px;
    flex-direction: row;
    align-self: auto;
    min-height: 237px;
  }

  .flex-block.forecasttimeunit.rightendcap {
    border-style: none dotted dotted none;
  }

  .flex-block.day-forecast-time-block {
    flex-direction: row;
    align-self: auto;
    min-height: 195px;
  }

  .flex-block.day-forecast-period-block {
    border-bottom: 1px solid #555;
    flex-direction: row;
    align-self: auto;
    min-height: 195px;
  }

  .container-2 {
    flex-direction: column;
  }

  .div-block-4 {
    flex-direction: row;
    flex: 0 75%;
    display: flex;
  }

  .div-block-5 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .current-conditions-title {
    min-width: auto;
    max-width: 100%;
    margin-top: -6px;
    padding-top: 0;
  }

  .div-block-6 {
    flex: 0 100%;
    width: 100%;
  }

  .day-forecast-unit.forecastspace.leftendcap {
    border-style: none;
    flex-basis: 100%;
    min-height: 232px;
    max-height: 216px;
    padding-top: 0;
  }

  .day-forecast-unit.forecastspace.day-forecast-period-block-sub, .day-forecast-unit.day-forecast-space.leftendcap, .day-forecast-unit.day-forecast-sub-block.leftendcap, .day-forecast-unit.day-forecast-space.leftendcap, .day-forecast-unit.day-forecast-space.day-forecast-period-block-sub {
    flex-basis: 100%;
    min-height: 191px;
    max-height: 216px;
    padding-top: 0;
  }

  .div-block-9 {
    flex: 0 auto;
    display: flex;
  }

  .text-block-13.forecasttext {
    display: flex;
  }

  .text-block-13.forecastprecipicon {
    min-width: 35px;
    display: flex;
  }

  .text-block-13.day-period-precip-icon {
    display: flex;
  }

  .grid-2 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px #000;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    align-content: space-between;
    align-self: auto;
    align-items: stretch;
  }

  .forecast-grid-container {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    flex-direction: column;
    justify-content: center;
    min-width: auto;
    max-width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 25px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .forecast-title {
    min-width: auto;
    max-width: 100%;
    padding-top: 0;
  }

  .about-contents {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px dotted #000;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    align-items: stretch;
    min-height: 29px;
    margin-top: 0;
    margin-bottom: 33px;
    padding-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
  }

  .about-this-station-title, .charts-title {
    min-width: auto;
    max-width: 100%;
    padding-top: 0;
  }

  .text-block-15 {
    flex-direction: column;
    flex: 0 auto;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px;
    display: flex;
  }

  .tabs-2 {
    border-bottom-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-top: 0;
    display: block;
  }

  .tabs-menu-2 {
    flex-direction: column;
    justify-content: center;
    height: auto;
    display: flex;
  }

  .text-block-16 {
    text-align: left;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    display: block;
  }

  .text-block-15-copy, .last-updated {
    flex-direction: column;
    flex: 0 auto;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px;
    display: flex;
  }

  .week-grid {
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    border: 1px #000;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    align-content: space-between;
    align-self: auto;
    align-items: stretch;
    padding-top: 4px;
  }

  .day-avg-temp-container {
    flex: 0 auto;
    display: flex;
  }

  .day-period-title-container {
    padding-top: 15px;
    font-weight: 700;
  }

  .day-period-precip-container {
    flex: 0 auto;
    display: flex;
  }

  .text-block-13-copy.forecasttext, .text-block-13-copy.forecastprecipicon, .text-block-13-copy.day-period-precip-icon, .day-period-precip-icon-2.forecasttext, .day-period-precip-icon-2.forecastprecipicon, .day-period-precip-icon-2.day-period-precip-icon {
    display: flex;
  }

  .day-period-precip-icon-2.day-period-precip-icon {
    padding-right: 4px;
    display: flex;
  }

  .text-block-13-copy.forecasttext, .text-block-13-copy.forecastprecipicon, .text-block-13-copy.day-period-precip-icon, .day-period-precip-measurement-2.forecasttext, .day-period-precip-measurement-2.forecastprecipicon, .day-period-precip-measurement-2.day-period-precip-icon {
    display: flex;
  }

  .about-contents-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px dotted #000;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    align-items: stretch;
    max-width: 100%;
    min-height: 29px;
    margin-top: 0;
    margin-bottom: 33px;
    padding-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
  }

  .week-forecast-description {
    flex: 0 auto;
    display: flex;
  }

  .text-block-22 {
    text-align: left;
    flex: 0 auto;
    justify-content: center;
    align-self: auto;
    align-items: center;
    display: block;
  }

  .snow-gauge-title {
    min-width: auto;
    max-width: 100%;
    margin-top: -6px;
    padding-top: 0;
  }

  .snow-gauge-measurements-container {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px dotted #000;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    align-items: stretch;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 25px;
    padding-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
  }

  .snow-last-24h-measurement {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    border: 1px #000;
    border-right-width: .5px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    height: 80px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    display: block;
  }

  .snow-last-24h-measurement.textwind {
    margin-top: 3px;
    display: block;
  }
}

#w-node-a832350d-0856-ebff-70db-652f90b0706c-be3a44e2, #w-node-a832350d-0856-ebff-70db-652f90b07073-be3a44e2 {
  grid-area: Area;
  place-self: center;
}

#w-node-a832350d-0856-ebff-70db-652f90b07084-be3a44e2, #w-node-a832350d-0856-ebff-70db-652f90b0708b-be3a44e2, #w-node-a832350d-0856-ebff-70db-652f90b07092-be3a44e2 {
  place-self: center;
}

#w-node-a832350d-0856-ebff-70db-652f90b0706c-27c7fb7b, #w-node-a832350d-0856-ebff-70db-652f90b07073-27c7fb7b {
  grid-area: Area;
  place-self: center;
}

#w-node-a832350d-0856-ebff-70db-652f90b0707a-27c7fb7b, #w-node-a832350d-0856-ebff-70db-652f90b07084-27c7fb7b, #w-node-a832350d-0856-ebff-70db-652f90b0708b-27c7fb7b, #w-node-a832350d-0856-ebff-70db-652f90b07092-27c7fb7b {
  place-self: center;
}

#w-node-e14fb1b5-7090-7916-4811-487f28d320e6-27c7fb7b {
  grid-area: span 1 / span 5 / span 1 / span 5;
}

#w-node-c3b4fd09-abdb-51ef-aed8-73b3566869f6-27c7fb7b {
  grid-area: Area;
  place-self: center;
}

#w-node-c3b4fd09-abdb-51ef-aed8-73b356686a10-27c7fb7b, #w-node-c3b4fd09-abdb-51ef-aed8-73b356686a17-27c7fb7b, #w-node-c3b4fd09-abdb-51ef-aed8-73b356686a1e-27c7fb7b, #w-node-_4934fd2c-a9b7-6c84-70a1-0324cc79a307-27c7fb7b {
  place-self: center;
}

#w-node-cc7d2cf1-67c5-0951-f17d-e67d9d998602-27c7fb7b {
  align-self: auto;
}

#w-node-_2c1eb502-b156-2fbf-5c0a-4c63612b8ca5-27c7fb7b, #w-node-_0ab7a5de-59ed-bf53-dfdf-f98eb2f788ca-27c7fb7b, #w-node-_6f0e9ec9-96bd-3fc4-723c-fb9a4b67d802-27c7fb7b, #w-node-dab3185b-88df-0b04-34c2-be25aaa49c8a-27c7fb7b, #w-node-fe4488fb-68c1-5f72-9355-771419263db4-27c7fb7b, #w-node-_1059ec83-94b6-d33c-64f0-7b24304aa14f-27c7fb7b, #w-node-_25923d12-0cd1-de4c-9f77-070dd40ea9b0-27c7fb7b, #w-node-af68f876-4545-1046-8098-5a0ce288f701-27c7fb7b, #w-node-_56da4360-4406-23ed-88b8-27d6e275ffd4-27c7fb7b, #w-node-_45007a18-91c3-519a-fdbc-166463b6786f-27c7fb7b, #w-node-_949d487d-f277-92e5-5af2-e596deee44f2-27c7fb7b, #w-node-_3f9444d9-b32c-a0f1-b896-0498fd2973cd-27c7fb7b, #w-node-bb360e9f-8695-866e-208a-3180dc9dc217-27c7fb7b, #w-node-_22db661d-40e6-3e13-8c2f-47357b2e62f5-27c7fb7b, #w-node-_1c623e47-dc53-09cb-a214-97bd641ffcd2-27c7fb7b, #w-node-_010cf6d3-380a-4f61-ef22-4404cd2b35ba-27c7fb7b, #w-node-_4f66febd-31dc-69a6-5c3a-684788e0b457-27c7fb7b, #w-node-cbc0b06d-bf92-790e-e00b-1b0a9e35aa02-27c7fb7b, #w-node-_8ad5078e-71bc-ec4b-7240-4c441a971fca-27c7fb7b, #w-node-c80a1420-286f-236d-66a0-6e0bd71f341d-27c7fb7b, #w-node-_69a255c2-8a99-e8df-7119-38d86ba26ee9-27c7fb7b, #w-node-_72173746-41f1-ff8e-1b6c-0cb726ffea18-27c7fb7b, #w-node-_7a97656c-2ea1-35c0-4a6a-2b132b352b48-27c7fb7b, #w-node-_6813ccd7-20af-85eb-4721-f4810d57aa01-27c7fb7b {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: auto;
}

@media screen and (max-width: 767px) {
  #w-node-a832350d-0856-ebff-70db-652f90b0706c-27c7fb7b, #w-node-c3b4fd09-abdb-51ef-aed8-73b3566869f6-27c7fb7b {
    grid-area: Area;
    place-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-a832350d-0856-ebff-70db-652f90b0706c-be3a44e2 {
    grid-area: 1 / 1 / 2 / 2;
    place-self: start stretch;
  }

  #w-node-a832350d-0856-ebff-70db-652f90b07073-be3a44e2 {
    grid-area: 1 / 2 / 2 / 3;
    place-self: start stretch;
  }

  #w-node-a832350d-0856-ebff-70db-652f90b07084-be3a44e2 {
    place-self: center stretch;
  }

  #w-node-a832350d-0856-ebff-70db-652f90b0708b-be3a44e2, #w-node-a832350d-0856-ebff-70db-652f90b07092-be3a44e2 {
    justify-self: stretch;
  }

  #w-node-cc7d2cf1-67c5-0951-f17d-e67d9d998602-be3a44e2 {
    align-self: auto;
  }

  #w-node-a832350d-0856-ebff-70db-652f90b0706c-27c7fb7b {
    grid-area: 1 / 1 / 2 / 2;
    place-self: center stretch;
  }

  #w-node-a832350d-0856-ebff-70db-652f90b07073-27c7fb7b {
    grid-area: 1 / 2 / 2 / 3;
    place-self: center stretch;
  }

  #w-node-a832350d-0856-ebff-70db-652f90b07084-27c7fb7b {
    place-self: center stretch;
  }

  #w-node-a832350d-0856-ebff-70db-652f90b0708b-27c7fb7b, #w-node-a832350d-0856-ebff-70db-652f90b07092-27c7fb7b {
    justify-self: stretch;
  }

  #w-node-c3b4fd09-abdb-51ef-aed8-73b3566869f6-27c7fb7b {
    grid-area: 1 / 1 / 2 / 2;
    place-self: center stretch;
  }

  #w-node-c3b4fd09-abdb-51ef-aed8-73b356686a10-27c7fb7b {
    place-self: center stretch;
  }

  #w-node-c3b4fd09-abdb-51ef-aed8-73b356686a17-27c7fb7b, #w-node-c3b4fd09-abdb-51ef-aed8-73b356686a1e-27c7fb7b, #w-node-_4934fd2c-a9b7-6c84-70a1-0324cc79a307-27c7fb7b {
    justify-self: stretch;
  }

  #w-node-cc7d2cf1-67c5-0951-f17d-e67d9d998602-27c7fb7b {
    order: 0;
    align-self: auto;
  }
}


@font-face {
  font-family: 'Gopherwx';
  src: url('../fonts/gopherwx.woff2') format('woff2'), url('../fonts/gopherwx.eot') format('embedded-opentype'), url('../fonts/gopherwx.woff') format('woff'), url('../fonts/gopherwx.ttf') format('truetype'), url('../fonts/gopherwx.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Courgette';
  src: url('../fonts/Courgette-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Weathericons Webfont';
  src: url('../fonts/weathericons-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Cinzel Variablefont Wght';
  src: url('../fonts/Cinzel-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 900;
  font-style: normal;
  font-display: auto;
}