:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #000;
  font-weight: 700;
  text-decoration: underline;
  transform: translate(0);
}

.container {
  margin-top: 0;
  display: block;
}

.tab-link {
  height: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #edf2f4;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  font-family: Inconsolata, monospace;
  display: inline-block;
}

.tab-link.w--current {
  box-shadow: none;
  color: #fff;
  background-color: #1a8ca7;
  border: 1px #000;
  font-weight: 700;
}

.tab-link.about-tab {
  color: #fff;
  background-color: #780000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.body {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  border: 1px #000;
  padding-top: 0;
  padding-left: 0;
  font-family: Inconsolata, monospace;
  font-style: normal;
  font-weight: 400;
  display: block;
}

.tabs-content {
  border: 1px dotted #000;
  padding-top: 20px;
}

.submit-button {
  background-color: #006729;
  margin-top: 20px;
  font-weight: 700;
}

.form {
  width: 70%;
}

.select-field-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.heading {
  font-family: Inconsolata, monospace;
  font-size: 1.25em;
  display: block;
}

.graphbox {
  height: 200px;
  border: 1px #000;
}

.measurements-container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 1px dotted #000;
  grid-template: "Area Area-2 Area-3 Area-4 Area-5"
  / 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  margin-top: 0;
  margin-bottom: 25px;
  padding-bottom: 8px;
  display: grid;
  position: static;
  overflow: visible;
}

.header {
  width: 85%;
  max-width: none;
  min-width: auto;
  color: #c1121f;
  text-transform: none;
  text-shadow: none;
  justify-content: center;
  align-items: center;
  font-family: Courgette, sans-serif;
  font-size: 54px;
  font-weight: 500;
  display: flex;
}

.div-block {
  float: none;
}

.measurement {
  justify-content: center;
  align-items: center;
  margin-top: 28px;
  margin-left: 35px;
  margin-right: 35px;
  font-family: Inconsolata, monospace;
  display: block;
}

.measurement.textwind {
  margin-top: 0;
  display: none;
}

.tabs-menu {
  background-color: #edf2f4;
  border: 1px #000;
  border-style: none dotted;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: Lato, sans-serif;
}

.measurement-part {
  display: inline-block;
}

.measurement-part.measurement-icon {
  float: left;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  font-family: Gopherwx, sans-serif;
  font-size: 30px;
  display: flex;
}

.measurement-part.measurement-value {
  width: 68%;
  height: 100%;
}

.text-block {
  width: 0%;
  height: auto;
}

.text-block.measurement-part {
  width: 0%;
  height: 0;
  float: right;
  clear: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Inconsolata, monospace;
  font-size: 30px;
  font-weight: 400;
  display: block;
  position: static;
}

.text-block.measurement-part.metric-label {
  display: none;
}

.windrose-box {
  width: 68%;
  height: 100%;
}

.windrose-box.measurement-part {
  width: 100%;
  height: 110px;
  float: right;
  justify-content: flex-start;
  align-items: center;
  display: block;
}

.windrose-circle {
  width: 80px;
  height: 80px;
  border: 4px solid #898989;
  border-radius: 50%;
  flex-direction: row;
  flex: 1;
  display: block;
  position: relative;
  top: -16px;
  transform: rotate(340deg);
}

.windrose-box-container {
  height: 110px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  top: -4px;
}

.windrose-arrow {
  width: 0;
  height: 0;
  opacity: 1;
  border-top: 18px solid #669bbc;
  border-left: 6px solid rgba(0, 0, 0, 0);
  border-right: 6px solid rgba(0, 0, 0, 0);
  font-style: normal;
  position: relative;
  top: -9px;
  left: 30px;
  right: 0;
}

.title-box {
  max-width: 675px;
  justify-content: center;
  align-items: center;
  margin-top: 41px;
  padding-bottom: 25px;
  font-family: Changa One, Impact, sans-serif;
  display: flex;
}

.north {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 6px;
  font-family: Inconsolata, monospace;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.wind-speed {
  text-align: center;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  font-family: Inconsolata, monospace;
  font-size: 29px;
  font-weight: 700;
  display: flex;
  position: relative;
  top: 18px;
}

.wind-cardinal-dir {
  width: 110px;
  float: none;
  clear: none;
  text-align: center;
  flex-direction: column;
  flex: 0 auto;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 0;
  font-family: Inconsolata, monospace;
  font-size: 18px;
  font-weight: 700;
  display: block;
  position: relative;
  top: 92px;
  left: 0;
}

.about-this-station {
  font-family: Inconsolata, monospace;
}

.div-block-2 {
  justify-content: center;
  display: flex;
}

.div-block-3 {
  width: 110px;
  height: 110px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.chart_container {
  flex-direction: row;
  display: flex;
  position: relative;
}

.y_axis {
  width: 30px;
  font-family: Inconsolata, monospace;
  font-size: 13px;
  display: flex;
}

.chart {
  flex: 1;
  font-family: Inconsolata, monospace;
  font-size: 13px;
}

.legend {
  float: left;
  clear: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Inconsolata, monospace;
  font-size: 13px;
  display: flex;
  position: relative;
  left: 0;
}

.x_axis {
  clear: left;
  font-family: Inconsolata, monospace;
  font-size: 13px;
  display: flex;
}

.text-block-2 {
  justify-content: center;
  display: block;
}

.temperaturechart, .humiditychart, .barometerchart, .windspeedchart {
  height: 400px;
  border: 1px #000;
  padding-top: 10px;
}

.winddirectionchart {
  height: 150px;
  border: 1px #000;
  padding-top: 10px;
  padding-left: 30px;
}

.rainfallchart {
  height: 400px;
  border: 1px #000;
  padding-top: 10px;
}

.text-block-3 {
  aspect-ratio: auto;
  text-align: left;
}

.text-block-4 {
  text-align: center;
}

.text-block-5 {
  font-size: 48px;
}

.text-block-5.readingvalue, .text-block-6 {
  text-align: center;
  padding-top: 13px;
  font-size: 32px;
}

.text-block-7, .text-block-8 {
  padding-top: 13px;
  font-size: 32px;
}

.text-block-9 {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
}

.text-block-9.labeltextwind {
  display: none;
}

.text-block-10, .text-block-11 {
  text-align: center;
}

.windrosecontainer {
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 0;
  font-family: Inconsolata, monospace;
  display: block;
}

.readingval {
  text-align: center;
  padding-top: 11px;
  font-size: 32px;
}

.readingval.valtextwind, .readingval.cardinalval {
  display: none;
}

.solarwattschart, .voltagechart {
  height: 400px;
  border: 1px #000;
  padding-top: 10px;
}

.readingdescsubtitle {
  text-align: center;
  padding-top: 8px;
}

.readingdescsubtitle.labeltextwind {
  display: none;
}

.readingdescsubtitle-copy {
  text-align: center;
}

.readingdescsubtitle-copy.labeltextwind {
  display: none;
}

.text-block-9-copy {
  text-align: center;
}

.text-block-9-copy.labeltextwind {
  display: none;
}

.html-embed {
  min-height: 1200px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Inconsolata, monospace;
}

.grid {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.flex-block {
  flex-direction: row;
  justify-content: center;
  display: flex;
}

.flex-block.forecasttimeunit {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px #000;
  flex: 1 0 14.2857%;
  align-items: center;
  display: flex;
}

.flex-block-2, .flex-block-3 {
  display: block;
}

.container-2 {
  border: 1px solid #000;
  padding-bottom: 0;
  display: flex;
}

.div-block-4 {
  height: 25px;
  flex-direction: row;
  flex: 1;
  line-height: 25px;
  display: block;
}

.div-block-5 {
  height: 25px;
  border-bottom: 1px dotted #000;
  flex: 1;
  display: flex;
}

.current-conditions-title {
  height: 25px;
  margin-top: 25px;
  padding-bottom: 0;
  line-height: 25px;
  display: flex;
}

.div-block-6 {
  height: 25px;
  background-color: #c1121f;
  border: 1px #000;
  border-radius: 4px 4px 0 0;
  margin-left: 0;
  padding-left: 0;
}

.text-block-12 {
  color: #fff;
  text-align: left;
  margin-left: 8px;
  font-size: 17px;
  font-weight: 700;
}

.div-block-7 {
  min-height: 100%;
  min-width: 100%;
  background-color: #fa0;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-7.forecastspace {
  min-height: 100px;
  border: 1px #000;
  border-bottom-style: solid;
  flex-direction: row;
  flex: 0 4%;
  justify-content: center;
}

.div-block-7.forecastspace.leftendcap {
  max-height: 190px;
  min-height: 190px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  padding-top: 0;
  display: flex;
}

.div-block-7.forecastspace.rightendcap {
  border-right-style: solid;
  border-right-width: .5px;
}

.div-block-8 {
  height: 44px;
  flex-direction: row;
  flex: 0 auto;
  align-self: auto;
  display: block;
}

.div-block-9 {
  width: 112px;
  height: 31px;
  flex-direction: row;
  flex: 0 auto;
  justify-content: center;
  align-self: auto;
  align-items: center;
  display: flex;
}

.forecasttempquadrant {
  width: 28px;
  height: 30px;
  text-align: center;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  display: flex;
}

.forecasttempquadrant.uparrow {
  width: 31px;
  color: #c1121f;
}

.forecasttempquadrant.downarrow {
  width: 31px;
  color: #1d78a7;
}

.forecasttempquadrant.lowtemp {
  margin-top: 3px;
  padding-bottom: 0;
  font-size: 19px;
}

.text-block-13 {
  min-height: 30px;
  text-align: center;
  flex: 0 33%;
  order: 0;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  display: flex;
}

.text-block-13.forecasttext {
  min-height: 30px;
  text-align: center;
  flex: 0 100%;
  justify-content: center;
  font-size: 13px;
  font-weight: 700;
}

.text-block-13.forecastprecipicon {
  min-height: 30px;
  text-align: center;
  flex: 0 20%;
  justify-content: center;
  font-family: Inconsolata, monospace;
  font-size: 18px;
  font-weight: 700;
}

.text-block-14 {
  clear: none;
  text-align: center;
  font-family: Weathericons Webfont, sans-serif;
  font-size: 39px;
  font-weight: 400;
}

.grid-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.forecast-grid-container {
  height: 214px;
  border: 1px dotted #000;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;
  padding-bottom: 0;
  line-height: 25px;
  display: flex;
}

.forecast-title {
  height: 25px;
  padding-bottom: 0;
  line-height: 25px;
  display: flex;
}

.about-contents {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 1px dotted #000;
  grid-template: "Area"
  / 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  margin-top: 0;
  margin-bottom: 25px;
  display: grid;
  position: static;
  overflow: visible;
}

.about-this-station-title {
  height: 25px;
  margin-top: 25px;
  padding-bottom: 0;
  line-height: 25px;
  display: flex;
}

.charts-title {
  height: 25px;
  padding-bottom: 0;
  line-height: 25px;
  display: flex;
}

.text-block-15 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  padding-left: 15px;
  font-size: 11px;
  display: flex;
}

@media screen and (max-width: 991px) {
  .header {
    width: 75%;
    max-width: none;
    min-width: auto;
    justify-content: center;
    align-items: center;
    font-size: 54px;
    font-weight: 700;
    display: flex;
  }

  .measurement {
    margin-left: 15px;
    margin-right: 15px;
    display: block;
  }

  .measurement.textwind {
    display: none;
  }

  .title-box {
    margin-top: 20px;
    padding-bottom: 10px;
  }

  .text-block-9 {
    font-size: 22px;
    font-weight: 700;
  }

  .windrosecontainer {
    margin-left: 15px;
    margin-right: 15px;
  }

  .readingval {
    text-align: center;
    padding-top: 21px;
    font-size: 32px;
  }

  .div-block-9 {
    width: 104px;
  }

  .forecasttempquadrant {
    font-size: 16px;
  }

  .forecasttempquadrant.uparrow, .forecasttempquadrant.downarrow {
    width: 20px;
    height: 20px;
    font-size: 16px;
  }

  .forecasttempquadrant.lowtemp {
    font-size: 16px;
  }

  .forecasttempquadrant.hightemp {
    font-size: 19px;
  }

  .text-block-13.forecasttext {
    font-size: 12px;
  }

  .grid-2 {
    flex: 1;
  }

  .forecast-grid-container {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .tab-link {
    padding-left: 15px;
    padding-right: 15px;
  }

  .heading {
    margin-top: -57px;
    margin-bottom: -1px;
  }

  .heading.first-graph {
    margin-top: 14px;
  }

  .measurements-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "Area Area-2 Area-3 Area-4";
    margin-top: 0;
    padding-top: 0;
  }

  .header {
    width: 75%;
    max-width: none;
    min-height: 65px;
    min-width: auto;
    text-align: center;
    justify-content: center;
    align-self: auto;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 38px;
    display: flex;
  }

  .measurement {
    height: 80px;
    margin-left: 10px;
    display: block;
  }

  .measurement-part.measurement-icon {
    width: 25px;
    margin-right: 8px;
  }

  .text-block.measurement-part {
    height: 40px;
    flex: 1;
    padding-left: 7px;
  }

  .text-block.measurement-part.metric-label {
    width: 30%;
    flex: 0 auto;
    justify-content: flex-end;
    padding-right: 15px;
    font-size: 15px;
    display: flex;
    position: static;
  }

  .windrose-box.measurement-part {
    width: 75%;
    height: 40px;
    flex: 1;
    padding-left: 7px;
  }

  .windrose-box-container {
    height: 50px;
    display: flex;
  }

  .title-box {
    margin-top: 15px;
    padding-bottom: 0;
  }

  .wind-speed {
    flex-direction: row;
    flex: 0 auto;
    font-weight: 400;
    position: static;
    top: 0;
  }

  .wind-cardinal-dir {
    flex: 1;
    order: 1;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    display: flex;
    top: 0;
  }

  .about-this-station {
    margin-left: 20px;
    margin-right: 20px;
  }

  .div-block-2 {
    flex-direction: column;
  }

  .div-block-3 {
    height: 40px;
    flex-direction: row;
    display: none;
  }

  .tab-pane {
    margin-left: 5px;
    margin-right: 5px;
  }

  .temperaturechart {
    height: 225px;
    border-style: none none solid;
  }

  .humiditychart, .barometerchart, .windspeedchart, .rainfallchart {
    height: 225px;
    border-bottom-style: solid;
  }

  .text-block-4 {
    font-weight: 700;
  }

  .text-block-5.readingvalue {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }

  .text-block-6 {
    font-size: 30px;
    font-weight: 700;
  }

  .text-block-7, .text-block-8 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }

  .text-block-9 {
    font-size: 21px;
    font-weight: 700;
  }

  .text-block-10, .text-block-11 {
    font-weight: 700;
  }

  .windrosecontainer {
    height: 40px;
    margin-left: 25px;
    display: none;
  }

  .readingval {
    padding-top: 16px;
    font-size: 26px;
  }

  .solarwattschart {
    height: 225px;
    border-bottom-style: solid;
  }

  .voltagechart {
    height: 225px;
  }

  .readingdescsubtitle, .readingdescsubtitle-copy, .text-block-9-copy {
    font-weight: 700;
  }

  .div-block-6 {
    border-radius: 0 5px 0 0;
  }

  .div-block-9 {
    width: 75px;
    text-align: center;
    flex-direction: row;
    align-self: auto;
    display: flex;
  }

  .forecasttempquadrant {
    flex-direction: row;
  }

  .forecasttempquadrant.uparrow {
    flex-direction: row;
    align-items: center;
    display: flex;
  }

  .text-block-13.forecasttext {
    line-height: 12px;
  }

  .forecast-grid-container {
    justify-content: center;
  }

  .about-contents {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "Area Area-2 Area-3 Area-4";
    margin-top: 0;
    padding-top: 0;
  }
}

@media screen and (max-width: 479px) {
  .container {
    margin-top: 0;
    display: block;
  }

  .tab-link {
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    display: block;
  }

  .tab-link.w--current {
    border: 1px dotted #000;
    border-style: dotted none;
    padding-top: 3px;
    padding-bottom: 3px;
    display: block;
  }

  .tab-link.about-tab {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
  }

  .tab-link.graph-timespan-tab {
    color: #fff;
    background-image: linear-gradient(#636363, #636363);
    border: 1px #000;
    border-top: 2px solid #000;
    padding-left: 15px;
  }

  .body {
    clear: none;
    border-style: none;
    border-width: 1px;
    flex-direction: column;
    display: block;
  }

  .heading, .heading.first-graph {
    margin-top: 5px;
  }

  .measurements-container {
    min-height: 29px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px dotted #000;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    align-items: stretch;
    margin-top: 0;
    margin-bottom: 33px;
    padding-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
  }

  .header {
    width: 90%;
    max-width: none;
    min-height: 76px;
    min-width: auto;
    text-align: center;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
  }

  .measurement {
    height: 85px;
    border: 1px #000;
    border-right-width: .5px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
  }

  .measurement.textwind {
    margin-top: 28px;
    display: block;
  }

  .tabs-menu {
    display: block;
  }

  .measurement-part.measurement-icon {
    width: 25px;
    flex: 0 auto;
    justify-content: center;
    margin-right: 8px;
    font-size: 22px;
  }

  .text-block.measurement-part {
    height: 40px;
    text-align: left;
    flex: 1;
    justify-content: flex-start;
    padding-left: 7px;
    padding-right: 0;
    position: static;
    overflow: visible;
  }

  .text-block.measurement-part.metric-label {
    width: 50%;
    justify-content: flex-end;
    margin-right: 16px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .windrose-box.measurement-part {
    width: 75%;
    height: 40px;
    flex: 1;
    justify-content: flex-start;
    padding-left: 7px;
  }

  .windrose-circle {
    display: none;
  }

  .title-box {
    border: 1px #000;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding-bottom: 0;
    position: static;
  }

  .north {
    display: none;
  }

  .wind-speed {
    flex: 0 auto;
    justify-content: center;
    font-weight: 400;
    position: static;
    top: 0;
  }

  .wind-cardinal-dir {
    flex-direction: column;
    flex: 0 auto;
    order: 1;
    justify-content: center;
    align-items: flex-end;
    padding-top: 0;
    padding-left: 8px;
    display: flex;
    position: static;
    top: 0;
  }

  .div-block-2 {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .div-block-3 {
    height: 40px;
    flex-direction: row;
  }

  .tab-pane-2, .tab-pane-3, .tab-pane-4, .tab-pane-5 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .temperaturechart {
    height: 225px;
    border-bottom-style: solid;
    border-right-style: none;
  }

  .humiditychart, .barometerchart, .windspeedchart {
    height: 225px;
    border-bottom-style: solid;
  }

  .winddirectionchart {
    border-bottom-style: solid;
  }

  .rainfallchart {
    height: 225px;
    border-bottom-style: solid;
  }

  .text-block-4 {
    font-size: 14px;
    font-weight: 700;
  }

  .text-block-5.readingvalue {
    height: auto;
    float: none;
    clear: none;
    text-align: center;
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
  }

  .text-block-6, .text-block-7, .text-block-8 {
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700;
  }

  .text-block-9 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    font-weight: 700;
  }

  .text-block-9.labeltextwind {
    display: block;
  }

  .text-block-10, .text-block-11 {
    font-size: 14px;
    font-weight: 700;
  }

  .windrosecontainer {
    height: 40px;
    margin-left: 0;
    padding-bottom: 0;
  }

  .readingval {
    text-align: center;
    padding-top: 9px;
    font-size: 23px;
    font-weight: 700;
  }

  .readingval.valtextwind {
    padding-top: 0;
    font-size: 20px;
    line-height: 18px;
    display: block;
  }

  .readingval.cardinalval {
    color: #969696;
    padding-top: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: block;
  }

  .solarwattschart {
    height: 225px;
    border-bottom-style: solid;
  }

  .voltagechart {
    height: 225px;
    border-bottom-style: none;
  }

  .readingdescsubtitle {
    padding-left: 0;
    font-size: 11px;
    font-weight: 700;
  }

  .readingdescsubtitle.labeltextwind {
    display: block;
  }

  .readingdescsubtitle.windcombinedsubtitle {
    padding-top: 1px;
  }

  .readingdescsubtitle-copy {
    padding-left: 0;
    font-size: 11px;
    font-weight: 700;
  }

  .readingdescsubtitle-copy.labeltextwind {
    display: block;
  }

  .text-block-9-copy {
    padding-left: 0;
    font-size: 13px;
    font-weight: 700;
  }

  .text-block-9-copy.labeltextwind, .tabs {
    display: block;
  }

  .flex-block.forecasttimeunit {
    min-height: 195px;
    flex-direction: row;
    align-self: auto;
  }

  .container-2 {
    flex-direction: column;
  }

  .div-block-4 {
    flex-direction: row;
    flex: 0 75%;
    display: flex;
  }

  .div-block-5 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .current-conditions-title {
    margin-top: -6px;
    padding-top: 0;
  }

  .div-block-6 {
    width: 100%;
    flex: 0 100%;
  }

  .div-block-7.forecastspace.leftendcap {
    max-height: 216px;
    min-height: 191px;
    flex-basis: 100%;
    padding-top: 0;
  }

  .div-block-9 {
    flex: 0 auto;
    display: flex;
  }

  .text-block-13.forecasttext, .text-block-13.forecastprecipicon {
    display: flex;
  }

  .grid-2 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px #000;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    align-content: space-between;
    align-self: auto;
    align-items: stretch;
  }

  .forecast-grid-container {
    height: 416px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .forecast-title {
    padding-top: 0;
  }

  .about-contents {
    min-height: 29px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px dotted #000;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    align-items: stretch;
    margin-top: 0;
    margin-bottom: 33px;
    padding-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
  }

  .about-this-station-title, .charts-title {
    padding-top: 0;
  }

  .text-block-15 {
    flex-direction: column;
    flex: 0 auto;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px;
    display: flex;
  }
}

#w-node-a832350d-0856-ebff-70db-652f90b0706c-be3a44e2, #w-node-a832350d-0856-ebff-70db-652f90b07073-be3a44e2 {
  grid-area: Area;
  align-self: center;
  justify-self: center;
}

#w-node-a832350d-0856-ebff-70db-652f90b07084-be3a44e2, #w-node-a832350d-0856-ebff-70db-652f90b0708b-be3a44e2, #w-node-a832350d-0856-ebff-70db-652f90b07092-be3a44e2 {
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 479px) {
  #w-node-a832350d-0856-ebff-70db-652f90b0706c-be3a44e2 {
    grid-area: 1 / 1 / 2 / 2;
    align-self: start;
    justify-self: stretch;
  }

  #w-node-a832350d-0856-ebff-70db-652f90b07073-be3a44e2 {
    grid-area: 1 / 2 / 2 / 3;
    align-self: start;
    justify-self: stretch;
  }

  #w-node-a832350d-0856-ebff-70db-652f90b07084-be3a44e2 {
    align-self: center;
    justify-self: stretch;
  }

  #w-node-a832350d-0856-ebff-70db-652f90b0708b-be3a44e2, #w-node-a832350d-0856-ebff-70db-652f90b07092-be3a44e2 {
    justify-self: stretch;
  }

  #w-node-cc7d2cf1-67c5-0951-f17d-e67d9d998602-be3a44e2 {
    align-self: auto;
  }
}


@font-face {
  font-family: 'Gopherwx';
  src: url('../fonts/gopherwx.woff2') format('woff2'), url('../fonts/gopherwx.eot') format('embedded-opentype'), url('../fonts/gopherwx.woff') format('woff'), url('../fonts/gopherwx.ttf') format('truetype'), url('../fonts/gopherwx.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Courgette';
  src: url('../fonts/Courgette-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Weathericons Webfont';
  src: url('../fonts/weathericons-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}